CREATING LIST

In [18]:
e_list = [] #empty list
print(type(list))

<class 'type'>

In [17]:
list1 = [10,20,30]#list of integers
print(list1)

[10, 20, 30]

In [11]:
l2 = [10.1,10.2,10.3]#list of float numbers
print(l2)
print(type(l2))

[10.1, 10.2, 10.3]
<class 'list'>

In [12]:
l3 = ['hi','hello','how are you']#list of strings
print(l3)

['hi', 'hello', 'how are you']

In [13]:
l4 = [1,2,3,[10,20,30],[100,200,300]]#list inside a list is called nested list
print(l4)

[1, 2, 3, [10, 20, 30], [100, 200, 300]]

In [14]:
l5 = [1,2.3,'hello']#list of mixed datatypes
print(l5)

[1, 2.3, 'hello']

In [15]:
l6 = ['hi',1,1.2,[1,2],{'lock:key'}]#we can also have dict in list
print(l6)

['hi', 1, 1.2, [1, 2], {'lock:key'}]

In [19]:
#to print length of list we use len()function
len(list1)

3

In [ ]:
len(l2)
len(l6)#in this case it is executing both,but not printing both (only print second o/p).
#to print both we should use print statement

5

In [21]:
print(len(l2))
print(len(l6))

3
5

In [ ]:
print(len(l2))#we can also write in this way to excegute both.
(len(l6))

3

5

LIST CREATION USING CONSTRUCTOR

In [ ]:
# in general we use square braces to create a list.
#but we can also create a list using constructor()
'''the list constructor list() is built in fuction used to create a new list object
the constructor is particularly useful when you need to convert other data type in to list.
syntax: l = list(iterable)
the iterable can be any sequence like (string or tuple) 
or a collection like (set or dict) or any object you can loop over.

Constructor is just like funtion call
it is used to convert other data types in to list
used for typeconversion.'''

In [ ]:
#use cases
#coverting a tuple or set in to list
#why to convert....tuples are immutable and sets are unordered..
#so converting them in to list can allows you to modify or sort the data.

In [ ]:
#as it will consider the above declared variable as list so, i will delete list
del list

In [23]:
#converting tuple in to list
my_tuple = (10,20,30)
my_list = list(my_tuple)
print(my_list)

[10, 20, 30]

In [27]:
#converting set into list
set = {1,2,3}
my_lst = list(set)
print(my_lst)

[1, 2, 3]

In [28]:
#converting a string in to list
'''when you pass string in to list() constructor, 
it breaks the string in to individual characters.'''
text = "python"
lst = list(text)
print(lst)

['p', 'y', 't', 'h', 'o', 'n']

In [30]:
#creating a list from range
#this is the most frequent uses of the constructor,
# especially when you need a sequence of numbers for loop or calculation.
numbers = list(range(1,6))
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
#converting Dictionary keys and values
#if you want to list keys or values from dict.
dict = {"fruit" : "apple", "season":"winter","month":"nov"}
keys = list(dict)#to list keys we use same syntax
print(keys)

['fruit', 'season', 'month']

In [ ]:
dict = {"fruit" : "apple", "season":"winter","month":"nov"}
values = list(dict.values())#to list values we must use variablename.(dot)values
print(values)

['apple', 'winter', 'nov']

In [37]:
#calling list with no arguments creates an empty list.
empty = list()
print(empty)

[]

In [38]:
#or directly 
list()

[]

LIST INDEXING

In [ ]:
#list indexing
'''list indexing is of two types
forward indexing--zerobased indexing(starts from zero(0))
backward indexing--negative indexing(starts from -1)
indexing is used to retrive the elements from list'''

In [ ]:
int = [1,10,20,100,200]
int[0]#retrive zero index value

1

In [ ]:
int[-1]#retrive last value/item

200

In [ ]:
flt = ['hi','hello']#Nested indexing - access/retrive the first character of first list element.
flt[0][0]

'h'

In [51]:
flt[0][1]

'i'

In [ ]:
flt[0][3]# gives out of range error as there is no data with index 3

IndexError: string index out of range

In [55]:
flt1 = [[1,2],'apple',20]
flt1[0][1]

2

In [56]:
flt1[2]

20

changing values of list using index

In [149]:
flt1[0] = "grapes"

In [150]:
flt1

['grapes', 'apple', 20]

Slicing in List

In [ ]:
slice = [1,2,3,4,5,6]#retrive all items from 0th index to 5th index location excluding 5th index value.
s = slice
s[0:5]

[1, 2, 3, 4, 5]

In [60]:
s[2:4]

[3, 4]

In [61]:
s[:4]#returns all items till 3rd index

[1, 2, 3, 4]

In [63]:
s[4:]#returns 4th index value to last value

[5, 6]

In [64]:
s[0:]

[1, 2, 3, 4, 5, 6]

In [ ]:
s[:0]#returns empty as rhere are no values before 0.

[]

In [ ]:
s[:-1]#returns all values excluding the mentioned index value

[1, 2, 3, 4, 5]

In [66]:
s[-1:]

[6]

In [ ]:
s[-3:]#from the index value with all values

[4, 5, 6]

In [ ]:
s[:]#return complete list
#basic slice start and stop extracting a specific sub-range.

[1, 2, 3, 4, 5, 6]

In [ ]:
s[::3]#extended slice /step(interval)/skipping items or reversing the list.

In [ ]:
s[::2]#prints every 2nd element from start to end.

[1, 3, 5]

In [75]:
s[1::2]#prints every 2nd elemnt from index 1

[2, 4, 6]

In [72]:
s[::-1]#returns complete list in reverse order

[6, 5, 4, 3, 2, 1]

In [82]:
s[0:3]#if it is consider as m:n then it prints(m to n-1 values)

[1, 2, 3]

In [83]:
s[-3::2]

[4, 6]

In [84]:
s[0:-1]

[1, 2, 3, 4, 5]

In [85]:
s[-3:-1]

[4, 5]

Adding and Removing Elements

In [128]:
veg = ['carrot','beetroot','cucumber']# Append is a method that adds an item to the end of the list.
veg.append('leafy')
veg

['carrot', 'beetroot', 'cucumber', 'leafy']

In [129]:
veg.insert(3,'carrot')# It will add element at the particular/specific index i(3).
veg

['carrot', 'beetroot', 'cucumber', 'carrot', 'leafy']

In [130]:
veg.remove('carrot')#removes the first occurance of value
veg

['beetroot', 'cucumber', 'carrot', 'leafy']

In [131]:
veg.pop()#removes and returns (bydefault)last item of the list

'leafy'

In [132]:
veg.pop(0)#removes and returns the item at index i(0)

'beetroot'

In [133]:
veg

['cucumber', 'carrot']

In [134]:
veg.append('keera')
veg

['cucumber', 'carrot', 'keera']

In [136]:
veg.append('chilli','ginger')# it returns type error as it takes only single argument
veg

TypeError: list.append() takes exactly one argument (2 given)

In [137]:
veg.append('chilli')
veg

['cucumber', 'carrot', 'keera', 'chilli']

In [138]:
del veg[2]#delete the item at given index

In [144]:
veg

['cucumber', 'carrot', 'chilli']

In [145]:
veg.clear()#delete all items in list/empty list
veg

[]

In [146]:
veg

[]

In [148]:
del veg#delete complete list
veg

NameError: name 'veg' is not defined

Copy List

In [158]:
sub = ["tel","hin","eng"]
lang = sub#create new reference
lang

['tel', 'hin', 'eng']

In [159]:
id(sub),id(lang)#the address of both list will be same

(2996096186624, 2996096186624)

In [160]:
lang1 = lang.copy()#create a copy of the list
lang1

['tel', 'hin', 'eng']

In [161]:
id(lang),id(lang1)#the adderss of both list will be different as one of it is copy.

(2996096186624, 2996096577472)

In [ ]:
lang.append("mat")#changes made to lang will be impacted on sub as it is pointing to same list
lang

['tel', 'hin', 'eng', 'mat']

In [ ]:
sub#changed

['tel', 'hin', 'eng', 'mat']

In [ ]:
lang1#changes made to lang(original) will not affect/impact lang1 as it is copy

['tel', 'hin', 'eng']

JOIN LISTS

In [ ]:
lang2 = lang + lang1#join or concat both lists
lang2

['tel', 'hin', 'eng', 'mat', 'tel', 'hin', 'eng']

In [167]:
lang.extend(lang1)
lang

['tel', 'hin', 'eng', 'mat', 'tel', 'hin', 'eng']

REVERSE AND SORT

In [ ]:
branch = ['csm', 'cse', 'ai']#we can also reverse the list using reverse function.
branch.reverse()
branch

['ai', 'cse', 'csm']

In [ ]:
branch[::-1]#slice method is also used for reversing the list.

['csm', 'cse', 'ai']

In [171]:
branch = branch[::-1]
branch

['csm', 'cse', 'ai']

In [ ]:
branch1 = [1,4,2,5,3]#we can a list using sort method
branch1.sort()# sort list in ascending order
branch1

[1, 2, 3, 4, 5]

In [3]:
branch2 = [2,4,6,2,8,4,2,6,8,3,1]
branch2.sort()
branch2

[1, 2, 2, 2, 3, 4, 4, 6, 6, 8, 8]

In [4]:
branch2 = [2,4,6,2,8,4,2,6,8,3,1]
branch2.sort(reverse=True)#sort list in decending order
branch2

[8, 8, 6, 6, 4, 4, 3, 2, 2, 2, 1]

In [ ]:
branch3 = [10,50,40,60,30,20]
sorted(branch3)#it returns sorted list but never changes the original list.

[10, 20, 30, 40, 50, 60]

In [6]:
branch3

[10, 50, 40, 60, 30, 20]

In [9]:
branch3 = [10,50,40,60,30,20]
print(sorted(branch3))
print(branch3)

[10, 20, 30, 40, 50, 60]
[10, 50, 40, 60, 30, 20]

COUNT

In [ ]:
list7 = [1,2,5,8,3,9,4,8,7,5,2]#count returns no.of times a item is occured in list.
list7.count(1)

1

In [24]:
list7 = [1,2,5,8,3,9,4,8,7,5,2]
list7.count(2)

2

In [25]:
list7 = [1,2,5,8,3,9,4,8,7,5,2]
list7.count(5)

2

In [ ]:
list7 = [1,2,5,8,3,9,4,8,7,5,2]
list7.count(8)
list7.count(3)
list7.count(9)
list7.count(4)

1

In [29]:
print(list7.count(3))
print(list7.count(9))
print(list7.count(4))

1
1
1

In [31]:
print(list7.count(8))
print(list7.count(7))
print(list7.count(9))
print(list7.count(5))
print(list7.count(9))
print(list7.count(2))

2
1
1
2
1
2

MEMBERSHIP OPERATOR

In [32]:
# IN/NOT IN
#IT checks whether the item exits in the list or not.
#if it is in list it returns True
#if it is not there it returns False
list8 = ['pen','pencil','book','school']
'pen' in list8

True

In [33]:
'fruit' in list8

False

In [34]:
'book' not in list8

False

In [35]:
'veg' not in list8

True

In [36]:
# we can use it in conditional statements.
if 'book' in list8:
    print('book is present in list')
else:
    print('not present')

book is present in list

In [38]:
if 'fruit' in list8:
    print('fruit is in list')
else:
    print('not present')

not present

In [39]:
if 'veg' not in list8:
    print('yes')
else:
    print('no')

yes

In [40]:
if 'book' not in list8:
    print('yes')
else:
    print('no')

no

In [41]:
if 'pen' not in list8:
    print('yes')
else:
    print('no')

no

In [42]:
if 'fruit' not in list8:
    print('yes')
else:
    print('no')

yes

IDENTITY OPERATOR

LOOP THROUGH LIST

In [43]:
list8

['pen', 'pencil', 'book', 'school']

In [ ]:
for i in list8:#it print all items in list
    print(i)

pen
pencil
book
school

In [ ]:
for i in enumerate(list8):#it print all items in list with index
    print(i)

(0, 'pen')
(1, 'pencil')
(2, 'book')
(3, 'school')

ALL/ANY IN LIST

In [ ]:
#all() method  returns:
True - if all elements in a list are true.
False - if any element in list is false.
#the any() function returns true if any element in the list is true.
#if not, any() returns false.

In [46]:
lst1 = [1,2,3,4,0]#will return false if atleast one value is false.
all(lst1)

False

In [ ]:
any(lst1)# will return true as if atleast one value is true.

True

In [50]:
lst2 = [1,2,3,4,True,False]
all(lst2)

False

In [51]:
any(lst2)

True

In [ ]:
lst2 = [1,2,3,4,True]# return true if all values are true.
all(lst2)

True

In [53]:
lst2 = [-1,-2,-3,0,True,False]
all(lst2)

False

In [ ]:
lst2 = [-1,-2,-3,0,True,False]#returns true if atleast one value is true.
any(lst2)

True

In [55]:
lst2 = [-1,-2,-3,0,False]
any(lst2)

True