SETS

In [42]:
'''A SET IS AN UNORDERED COLLECTION OF UNIQUE ELEMENTS.
..>SETS ARE UNORDERED COLLECTION OF DATA AS THERE IS NO INDEX BASED POSITION.
..>THEY ARE UNINDEXED COLLECTION OF ITEMS ,YOU CANNOT ACCESS THEM VIA INDEX.
..>SET ELEMENTS ARE UNIQUE , NO DUPLICATE ELEMENTS ARE ALLOWED TO IT.
..>SET ELEMENTS ARE IMMUTABLE ,WHICH CANNOT BE CHANGED.
..>SET ITSELF IS MUTABLE, WE CAN ADD OR REMOVE ITEMS FROM IT.
....>SETS ARE HIGHLY OPTIMIZED FOR MEMBERSHIP TESTING AND TO PERFORM MATHEMATICAL OPERATIONS LIKE UNIONS AND INTERSECTIONS.'''

'A SET IS AN UNORDERED COLLECTION OF UNIQUE ELEMENTS.\n..>SETS ARE UNORDERED COLLECTION OF DATA AS THERE IS NO INDEX BASED POSITION.\n..>THEY ARE UNINDEXED COLLECTION OF ITEMS ,YOU CANNOT ACCESS THEM VIA INDEX.\n..>SET ELEMENTS ARE UNIQUE , NO DUPLICATE ELEMENTS ARE ALLOWED TO IT.\n..>SET ELEMENTS ARE IMMUTABLE ,WHICH CANNOT BE CHANGED.\n..>SET ITSELF IS MUTABLE, WE CAN ADD OR REMOVE ITEMS FROM IT.\n....>SETS ARE HIGHLY OPTIMIZED FOR MEMBERSHIP TESTING AND TO PERFORM MATHEMATICAL OPERATIONS LIKE UNIONS AND INTERSECTIONS.'

'''WHY MUTABLE AND IMMUTABLE
....>SET ITSELF IS MUTABLE ...WHICH MEANS THE ITEMS IN THE SET CAN BE CHANGEABLE.
....>SET ELEMENTS SHOULD BE IMMUTABLE LIKE TUPLE,STRING,AND INTEGERS..ETC
BUT IT WONT ALLOW LIST AS IT IS MUTABLE.
...>PYTHON INSISTS THAT EVERY ELEMENT YOU PUT IN TO SET MUST BE UNCHANGABLE(IMMUTABLE).'''

....>DUPLICATES ARE NOT ALLOWED
....>SET ITSELF IS MUTABLE BUT ITEMS IN IT MUST BE IMMUTABLE.

CREATING A SET

In [49]:
sett = {1,2,3,4}
sett

{1, 2, 3, 4}

In [50]:
set1 = {1,2,1,2,3,4}#duplicates are not allowed,it doesnt throw error if you give duplicate, it just returns set without duplicates.
set1

{1, 2, 3, 4}

In [51]:
set2 ={1.0,2.0,3.0,4.0}#set with float numbers
set2

{1.0, 2.0, 3.0, 4.0}

In [52]:
set3 = {'hi','hello'}#set of strings
set3

{'hello', 'hi'}

In [47]:
set4 = {1,2.0,"hi",(1,2)}#set of mixed datatypes
set4

{(1, 2), 1, 2.0, 'hi'}

In [48]:
set5 = {1,2.0,"hi",(1,2),[1,4]}#gives error
set5

TypeError: unhashable type: 'list'

In [ ]:
set6 = {1,2}#create empty set
print(set6)
print(type(set6))

{1, 2}
<class 'set'>

LOOP THROUGH A SET

In [53]:
set7 = {'tel','hin','eng','mat','sc','soc'}#the set o/p will be unordered.
set7

{'eng', 'hin', 'mat', 'sc', 'soc', 'tel'}

In [54]:
for i in set7:
    print(i)

hin
mat
sc
tel
eng
soc

In [55]:
for i in enumerate(set7):
    print(i)

(0, 'hin')
(1, 'mat')
(2, 'sc')
(3, 'tel')
(4, 'eng')
(5, 'soc')

SET MEMBERSHIP

In [56]:
set7

{'eng', 'hin', 'mat', 'sc', 'soc', 'tel'}

In [57]:
'hin' in set7

True

In [58]:
'py' in set7

False

In [59]:
if 'py' in set7:
    print("yes")
else:
    print("no")

no

In [60]:
if 'tel' in set7:
    print("yes")
else:
    print("no")

yes

In [61]:
if 'py'not in set7:
    print("yes")
else:
    print("no")

yes

In [62]:
if 'soc'not in set7:
    print("yes")
else:
    print("no")

no

In [63]:
if 'java' not in set7:
    print("yes")
else:
    print("no")

yes

ADD AND REMOVE ITEMS

In [64]:
set7

{'eng', 'hin', 'mat', 'sc', 'soc', 'tel'}

In [65]:
set7.add('py')#add an item to the set.
set7

{'eng', 'hin', 'mat', 'py', 'sc', 'soc', 'tel'}

In [ ]:
set7.update(['java', 'ruby'])#add multiple items to the set.
set7

{'eng', 'hin', 'java', 'mat', 'py', 'ruby', 'sc', 'soc', 'tel'}

In [ ]:
set7.remove('java')#removes item in set
set7

{'eng', 'hin', 'mat', 'py', 'ruby', 'sc', 'soc', 'tel'}

In [ ]:
set7.discard('py')#removes item from set
set7

{'eng', 'hin', 'mat', 'ruby', 'sc', 'soc', 'tel'}

In [70]:
set7.clear()#delete all items in a set
set7

set()

In [71]:
del set7#delete the set

In [72]:
set7

NameError: name 'set7' is not defined

COPY SET

In [ ]:
set8 = {1,2,3,4}
set9 = set8#reference

In [77]:
set8

{1, 2, 3, 4}

In [78]:
set9

{1, 2, 3, 4}

In [ ]:
id(set8),id(set9)#same id

(2193084704896, 2193084704896)

In [ ]:
set10 = set9.copy()#create new copy 
set10

{1, 2, 3, 4}

In [82]:
id(set9), id(set10)

(2193084704896, 2193084701760)

SET OPERATIONS

In [ ]:
#UNION
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {9,10}
A|B#union of a and b(all elements from both sets,no duplicates)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
A.union(B)#union of a and b(all elements from both sets,no duplicates)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
A.union(B,C)#union of a,b and c

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
""" 
Updates the set calling the update() method with union of A , B & C. 
For below example Set A will be updated with union of A,B & C."""
A.update(B,C)
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [89]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [90]:
#INTERSECTION
A&B#common items in both sets

{4, 5}

In [91]:
A.intersection(B)

{4, 5}

In [92]:
""" 
Updates the set calling the intersection_update() method with the intersection o 
For below example Set A will be updated with the intersection of A & B. 
""" 
A.intersection_update(B)
A

{4, 5}

In [93]:
#DIFFERENCE

A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [ ]:
A-B#set of elements that are only in A but not in B

{1, 2, 3}

In [95]:
A.difference(B)

{1, 2, 3}

In [ ]:
B-A#set of elements that are only in B but not in A

{6, 7, 8}

In [97]:
B.difference(A)

{6, 7, 8}

In [98]:
""" 
Updates the set calling the difference_update() method with the difference of se 
For below example Set B will be updated with the difference of B & A. 
""" 
B.difference_update(A)
B

{6, 7, 8}

SYMMETRIC DIFFERENCE

In [ ]:
A^B # Symmetric difference (Set of elements in A and B but not in both.

{1, 2, 3, 4, 5, 6, 7, 8}

In [100]:
A.symmetric_difference(B) # Symmetric difference of sets

{1, 2, 3, 4, 5, 6, 7, 8}

In [101]:
 
""" 
Updates the set calling the symmetric_difference_update() method with the symmet 
For below example Set A will be updated with the symmetric difference of A & B. 
""" 
A.symmetric_difference_update(B)
A

{1, 2, 3, 4, 5, 6, 7, 8}

SUBSET, SUPERSET & DISJOINT

In [ ]:
A = {1,2,3,4,5,6,7,8,9} 
B = {3,4,5,6,7,8} 
C = {10,20,30,40}

In [102]:
B.issubset(A) # Set B is said to be the subset of set A if all elements of B are

True

In [103]:
 
A.issuperset(B) # Set A is said to be the superset of set B if all elements of B

True

In [106]:
 
C.isdisjoint(A)# two sets are said to be disjoint sets if they have common elements

True

In [107]:
B.isdisjoint(A)# two sets are said to be disjoint sets if they have common elements

False

BUILT IN FUNCTIONS

In [108]:
A

{1, 2, 3, 4, 5, 6, 7, 8}

In [109]:
sum(A)

36

In [110]:
max(A)

8

In [111]:
min(A)

1

In [112]:
len(A)

8

In [113]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8)]

In [115]:
D=sorted(A,reverse=True)
D

[8, 7, 6, 5, 4, 3, 2, 1]

In [116]:
sorted(D)

[1, 2, 3, 4, 5, 6, 7, 8]

In [118]:
E = sorted(D)
E

[1, 2, 3, 4, 5, 6, 7, 8]