STRING

In [1]:
# text....>string

In [ ]:
'''strings are one of the most fundamental data types we use
..>string is a sequence of characters enclosed in single or double quotes
for multiple lines we use triple quotes
..>it is used to store and manipulate text'''

In [ ]:
'''
giving unequal quotes gives syntax error
..>" '''..>error
..>' "..>error
'''

In [1]:
# to quote a quote, we need to "escape" it, by preceding it with \.alternatively,
#we can use the other type of quotation marks.
'hi\'hello'

"hi'hello"

In [2]:
'does\'t'

"does't"

In [3]:
#\n means new line
'first.\nsecond'

'first.\nsecond'

In [12]:
print('first.\nsecond.')# using print avoids special characters

first.
second.

In [20]:
print('''
      hi
      hello 
      how''')

      hi
      hello
      how

In [18]:
print('''\
      hi
        hello
           how''')

      hi
        hello
           how

In [6]:
#CREATING A STRING
#it can be created using quotes
str = "hello"
print(str)

hello

In [3]:
#single quotes
str1 = 'hi'
str1

'hi'

In [4]:
#double quotes
str2 = "how"
str2

'how'

In [6]:
#triple quotes
str3 = '''hi
          hello
          how'''
str3

'hi\n          hello\n          how'

In [9]:
str4 = ('mon'
        'tue'
        'wed')
str4

'montuewed'

In [10]:
str5 = ('mon '
        'tue '
        'wed ')# to add space give space at word end

str5

'mon tue wed '

* in STRING

In [ ]:
# *(multiply operator)
#you can multiply a string by an integer to repeat it multiple times
#it is technically a form of repeated concatenation
#it is used to print the same string number of times
str6 = "hey "
str6*4

'hey hey hey hey '

In [13]:
len(str6)

4

In [14]:
str7 = str6*4
str7

'hey hey hey hey '

In [15]:
len(str7)

16

string concatenation

In [ ]:
# +(plus operater)
# this is process of joining two or more strings together 
# to create a new string
# it add the element ene to end

In [16]:
#direct concatenation
s = 'hi'
s1 = 'hello'
r = s+s1
r

'hihello'

In [18]:
#adding space manually
s = 'hi'
s1 = 'hello'
r = s+" "+s1
r

'hi hello'

JOIN METHOD

In [ ]:
# while the + operator is easy for two strings,
#it becomes ineffienct for more than two strings(like list of words)
#the .join() method is the professional way to handle this because 
# it is faster and more memory efficient

In [20]:
list = ["hey","hi","how are you"]
list

['hey', 'hi', 'how are you']

In [21]:
sentence = " ".join(list)
sentence

'hey hi how are you'

In [28]:
# NOTE : in order to add string with other types like integer initially
# convert it in to string

s + 10# raise type error

TypeError: can only concatenate str (not "int") to str

In [ ]:
 (str(10))#type error

TypeError: 'str' object is not callable

In [26]:
f"hi : {10}"

'hi : 10'

STRING INDEXING AND SLICING

In [ ]:
#inorder to access string we can use indexing and slicing

In [31]:
str8 = "hello"
str8[0]

'h'

In [32]:
str8[len(str8)-1]

'o'

In [33]:
str8[-1]

'o'

In [34]:
str8[5]

IndexError: string index out of range

In [35]:
str8

'hello'

SLICING

In [36]:
str8[0:3]

'hel'

In [37]:
str8[:-1]

'hell'

In [38]:
str8[:]

'hello'

In [39]:
str8[::-1]

'olleh'

In [40]:
# UBDATE
str9 = "hello python"
str9[0:4] = "heyy"# string is immutable, it cannot be changed but can create another string

TypeError: 'str' object does not support item assignment

In [41]:
str10 = str9

In [42]:
# DELETION
del str10

In [43]:
str9

'hello python'

In [44]:
str10

NameError: name 'str10' is not defined

METHODS

In [ ]:
# transform methods
str8.upper()#convert to upper case

'HELLO'

In [ ]:
str8.lower()#convert to lower case

'hello'

In [ ]:
str8.capitalize()#capitalize only the first charecter

'Hello'

In [48]:
sttr = "python world"

In [49]:
sttr

'python world'

In [ ]:

sttr.title()#capitalize first charecter of every word

'Python World'

In [ ]:
sttr.swapcase()#covert upper to lower and lower to upper

'PYTHON WORLD'

In [52]:
sttr1 = "PythonWORLD"
sttr1

'PythonWORLD'

In [53]:
sttr1.swapcase()

'pYTHONworld'