TUPLES

In [ ]:
'''TUPLE IS ONE OF FOUR BUILTIN DATATYPES OR DATASTRUCTURES
IN PYTHON USED TO STORE COLLECTION OF DATA.
WHILE IT LOOKS VERY SIMILAR TO A LIST , IT HAS ONE FUNDEMENTAL DIFFERENCE 
....TUPLES ARE IMMUTABLE.....IT MEANS ONCE IT IS CREATED ,YOU CANNOT CHANGE ,ADD,OR REMOVE ITS ITEMS.


..THINK OF ITS LIKE A PEN/INK IT IS PERMENANTONCE ITS THERE ,IT STAYS.
WHILE LIST IS LIKE PENCIL DRAWING YOU CAN ERASE AND CHANGE IT....

IT STORE HETEROGENEOUS TYPE OF DATA SAME AS LIST.'''

CREATING  TUPLES

In [1]:
# tuples are defined using parentheses ().
tup1 = ("apple","carrot","cherry")
tup1

('apple', 'carrot', 'cherry')

In [2]:
type(tup1)

tuple

In [3]:
#to create a tuple with one item, you must include a TRAILING comma.
#tup = ("apple") is wrong it is a string.
#tup = ("apple",)is correct tuple.

tup2 = ("apple",)
print(tup2)
type (tup2)

('apple',)

tuple

In [4]:
tup3 = ("apple")
print(tup3)
type(tup3)

apple

str

In [5]:
#tuple of integers
tup4 = (10,20,30)
tup4

(10, 20, 30)

In [6]:
#tuple of float numbers
tup5 = (10.0,2.0,3.0,4.0)
tup5

(10.0, 2.0, 3.0, 4.0)

In [9]:
#tuple of strings
tup6 = ("apple","fruits")
tup6

('apple', 'fruits')

In [14]:
#nested tuples
tup7 = (1,(2,3),('a','b'),"app",2.0)
tup7

(1, (2, 3), ('a', 'b'), 'app', 2.0)

In [15]:
#tuple of mixed data
tup8 = (1,2.0,"apple")
tup8

(1, 2.0, 'apple')

In [ ]:
tup9 = (1,(2,3),"app",[1,2],{"key":"value"})#mixed data/heterogeneous data
tup9

(1, (2, 3), 'app', [1, 2], {'key': 'value'})

In [ ]:
tup10 = ()#empty tuple
tup10

()

TUPLE INDEXING

In [19]:
tup2[0]

'apple'

In [20]:
tup9[-1]

{'key': 'value'}

In [21]:
tup7[1][1]

3

In [22]:
tup5[2]

3.0

TUPLE SLICING

In [23]:
tuple = ("tel","hin","eng","mat","sci","soc")
tuple

('tel', 'hin', 'eng', 'mat', 'sci', 'soc')

In [24]:
tuple[:]

('tel', 'hin', 'eng', 'mat', 'sci', 'soc')

In [25]:
tuple[::]

('tel', 'hin', 'eng', 'mat', 'sci', 'soc')

In [26]:
tuple[0:4]

('tel', 'hin', 'eng', 'mat')

In [27]:
tuple[-1:]

('soc',)

In [36]:
tuple[2:]

('eng', 'mat', 'sci', 'soc')

In [37]:
tuple[-4:]

('eng', 'mat', 'sci', 'soc')

In [28]:
tuple[:-1]

('tel', 'hin', 'eng', 'mat', 'sci')

In [29]:
tuple[-4:-1:2]

('eng', 'sci')

In [30]:
tuple[2::1]

('eng', 'mat', 'sci', 'soc')

In [31]:
tuple[1::2]

('hin', 'mat', 'soc')

In [32]:
tuple[0::3]

('tel', 'mat')

In [33]:
tuple[::-1]

('soc', 'sci', 'mat', 'eng', 'hin', 'tel')

In [34]:
tuple[2:-1]

('eng', 'mat', 'sci')

In [35]:
tuple[:]

('tel', 'hin', 'eng', 'mat', 'sci', 'soc')

TRY TO REMOVE AND CHANGE ITEMS

In [39]:
tuple

('tel', 'hin', 'eng', 'mat', 'sci', 'soc')

In [ ]:
del tuple[0]# as tuple is immutable , items cannot be deleted. it gives type error.

TypeError: 'tuple' object doesn't support item deletion

In [ ]:
tuple[0] = 1#same here we cannot change items.

TypeError: 'tuple' object does not support item assignment

In [43]:
del tuple#delete entire tuple can be possible
tuple

NameError: name 'tuple' is not defined

TUPLE MEMBERSHIP

In [44]:
tuple1 = ('hi','hello','bye')
tuple1

('hi', 'hello', 'bye')

In [ ]:
'hi' in tuple1#checks wher item exists in tuple if yes it returns true.

True

In [47]:
'hi' not in tuple1# return false if item exit.

False

In [48]:
'hello' in tuple1

True

In [49]:
'how' not in tuple1

True

In [50]:
if 'hi' in tuple1:
    print('exists')
else:
    print('no')

exists

In [52]:
if 'hello' not in tuple1:
    print("no")
else:
    print('yes')

yes

SORTING IN TUPLES

In [ ]:
tuple2 = (1,8,3,6,5,2,9,10,4,7)#items will be sorted in accesending order.
sorted(tuple2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
sorted(tuple2, reverse=True)#items will be sorted in decending order

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

METHODS IN tuple
only two methods

COUNT

In [ ]:
tuple3 = (1,2,3,4,2,3,5,1,6,3,4,2)# it prints no.of times an item is occured in tuplw.
print(tuple3.count(2))
print(tuple3.count(3))
print(tuple3.count(4))
print(tuple3.count(1))
print(tuple3.count(5))

3
3
2
2
1

INDEX

In [ ]:
tuple3.index(2)# it returns the index of an item....point to be noticed,
#if the same item repeated in tuple then it return the index of first item.

1

In [58]:
tuple3.index(4)

3

FUNCTIONS IN TUPLES

In [59]:
#len() returns length of tuple
len(tuple3)

12

In [ ]:
#max() returns highest number in tuple.
max(tuple3)

6

In [61]:
#min() returns lowest number in tuple.

In [ ]:
#sum() returns sum of the all numbers/items  in tuple.
sum(tuple3)

36

In [63]:
#sorted() it will return sorted version of tuple.
sorted(tuple3)

[1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 5, 6]

In [ ]:
#Enumerate : returns an enumerate object,ofen used in loops to get the index and value simultaneouly.
#Tuple : tuple() it is used to convert another iterable(like list or string) in to tuple.

In [82]:
# for enumerate refer loop
#tuple()
l1 = [1,2,3]
l2 = tuple(l1)
l2

(1, 2, 3)

TUPLE OPERATIONS

In [66]:
# even though we cannot change the tuple we can perform following operations.
#JOINING(CONCATENATION)
#you can combine two tuples to create a brand-new third tuple.
t1 = (1,2)
t2 = (3,4)
t3 = t1 + t2
t3

(1, 2, 3, 4)

In [78]:
#PACKING
fruits = ('apple','grapes')
fruits

('apple', 'grapes')

In [71]:
#UNPACKING 
#we can also extract tuple values in to variables in one line.

fruits = ('apple','grapes')
'''should be variable but not strings because it will no allocate to literal like string'''
(green,blue)= fruits
print('blue')

blue

In [81]:
#REPEATING it is all about repeating a tuple using * operator.
t = (('hi',)*3)
t

('hi', 'hi', 'hi')

In [74]:

fruits = ('apple','grapes')
(green,blue) = fruits
green

'apple'

LOOP THROUGH A TUPLE

In [75]:
tuple3

(1, 2, 3, 4, 2, 3, 5, 1, 6, 3, 4, 2)

In [76]:
for i in tuple3:
    print(i)

1
2
3
4
2
3
5
1
6
3
4
2

In [ ]:
for i in enumerate(tuple3):#it will print along eith index
    print(i)

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 2)
(5, 3)
(6, 5)
(7, 1)
(8, 6)
(9, 3)
(10, 4)
(11, 2)

In [ ]:
'''WHY WE USE TUPLES OVER LIST
PERFORMANCE: TUPLES ARE SLIGHTLY FASTER THAN LIST FOR ITERATION
SAFETY: THEY PROTECT DATA AGAINST ACCEIDENTAL CHAGES
DICTIONARY KEYS'''